body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  margin: 0px, 50px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

.container {
  background-color: #15202b;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 1000px;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid #404040;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;

}

th {
  background-color: #2e465d;
}

/* tr:nth-child(even) {
  background-color: #202020;
}
tr:nth-child(odd) {
  background-color: #2a2a2a;
} */

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  margin: 0 4px;
}

.pagination li a {
  text-decoration: none;
  padding: 6px 12px;
  border: 1px solid #282828;
  border-radius: 4px;

}

.pagination li a:hover {
  background-color: #f2f2f2;
}

.pagination button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.dynamic-text-color {
  color: #bbb
}

.dynamic-text-color:hover {
  color: #fff;
}
